*{
  font-family: 'Times New Roman', Times, serif;
  
}

#navbar {
  height: 15vh;
  background-image: url(./images/sky.jpg);
  background-size: cover;
}

 .top {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: white;
}

#Bio {
  height: 80vh;
  background-image: url(./images/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  #Bio div h2 {
color: rgb(224, 21, 157);
font-size: 60px;
  }


  #footer {
    background-color: black;
    height: 20vh;
    color: white;
  }
 