#navbar {
  height: 15vh;
  background-image: url(./images/sky.jpg);
  background-size: cover;
 }

 .h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: white;
}

.image > img { 
  height: 170px;
  width: 170px;
  border-radius: 50%;
  
}
.image{
  text-align: right;
}



#Bio {
  height: 80vh;
  background-image: url(./images/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  }

.h2 {
color: white;
font-size: 60px;
font-weight: bolder;
}
  #about {

    color:white;
    font-weight: bold;
    font-size: 25px;
    
  }

#skills {
  font-size: 20px;
  font-weight: bold;
  
}
.education {
font-size: 20px;
font-weight: bold;
}



#footer {
    background-color: rgb(61, 58, 53);
    height: 20vh;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
