*{
  font-family: 'Times New Roman', Times, serif;
  
}

#navbar {
  background-color: whitesmoke;
  height: 15vh;
  
}

#navbar div h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#about {
  height: 80vh;
  background-image: url(./images/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  
  

  #footer {
    background-color: black;
    height: 20vh;
    color: white;
  }
 